<mat-toolbar  class="mat-elevation-z6 menuBar" color="primary">
    <a routerLink="/" style="text-decoration: none; color: inherit; cursor: pointer;">
        <mat-icon aria-hidden="false" aria-label=" icon" class="icone" >pets</mat-icon>

        <span>PetShop Racine</span>

    </a>
    <a routerLink="/auth/login" *ngIf="!isValidToken" class="link-login" style="text-decoration: none; color: inherit; cursor: pointer;">
        <button mat-button class="login">Login<mat-icon>login</mat-icon></button>
    </a>
    <a routerLink="/auth/signup" *ngIf="!isValidToken" class="link-signup" style="text-decoration: none; color: inherit; cursor: pointer;">
        <button mat-button class="login">Cadastrar<mat-icon>fingerprint</mat-icon></button>
    </a>
    <a class="link-logout" *ngIf="isValidToken" style="text-decoration: none; color: inherit; cursor: pointer;">
        <button mat-button class="login" (click)="logout()">Sair<mat-icon>logout</mat-icon></button>
    </a>

     <button  mat-button [matMenuTriggerFor]="menu" *ngIf="isValidToken" color="primary" class="botao">Cadastrar Pet<mat-icon>add</mat-icon></button>
     <mat-menu #menu="matMenu">
         <button mat-menu-item (click)="irParaAdicionar()">Adicionar Pet</button>
         
     </mat-menu>
        
    

</mat-toolbar>
