<mat-toolbar  class="mat-elevation-z6 menuBar" color="primary">
    <a routerLink="/" style="text-decoration: none; color: inherit; cursor: pointer;">
        <mat-icon aria-hidden="false" aria-label=" icon" class="icone" >pets</mat-icon>

        <span>PetShop Racine</span>
    </a>
 

     <button  mat-button [matMenuTriggerFor]="menu" color="primary" class="botao">Cadastrar Pet<mat-icon>add</mat-icon></button>
     <mat-menu #menu="matMenu">
         <button mat-menu-item (click)="irParaAdicionar()">Adicionar Pet</button>
         <button mat-menu-item>Item 2</button>
     </mat-menu>
        
    

</mat-toolbar>
