.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 50vh;
   margin: auto;
   margin-top: 10%;
    background-color: rgba(66, 59, 59, 0.459);
    color: rgb(252, 252, 252);
    border-radius: 20px;
}
mat-progress-spinner{
    margin: auto;
}
input[type="file"]{
    visibility: hidden;
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-preview img{
    height: 30%;
    width: 30%;
    margin-bottom: 5px;
    border-radius: 8px;
}
