


    <mat-card class="principal">
        <mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>
        <form class="formulario"  [formGroup]="myForm">

            <mat-form-field appearance="outline">
                <mat-label>Nome do Pet</mat-label>
                <input matInput formControlName="nome">
                <mat-error *ngIf="myForm.get('nome').invalid">O campo Nome está inválido</mat-error>
            </mat-form-field>
            <div class="botao">
                <button mat-flat-button color="primary" type="button" (click)="fileInput.click()">Carregar Imagem</button>
                <input type="file" #fileInput (change)="onImagePicked($event)">
            </div>
            <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview !== null && myForm.get('image').valid">
                <img [src]="imagePreview" [alt]="getNameImage()">
            </div>
            <mat-form-field >
                
                <textarea matInput color="primary" cols="30" rows="10" formControlName="descricao" placeholder="Descrição do animal">
                    
                </textarea>
                <hr>
                
                <mat-error *ngIf="myForm.get('descricao').invalid">O campo conteúdo está inválido</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="myForm.invalid" type="button" (click)="adicionarPost()">Salvar</button>
            
        </form>
        </mat-card>

