.painel{
    
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.titulo{
    font-size: 25px;
    font-weight: 700;
}
mat-progress-spinner{
    margin: auto;
}
.post-image{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.post-image img{
    width: 15%;
  
}
.panel{
    text-align: center;
    background-color: rgba(78, 78, 78, 0.699);
}
