
<div class="painel" >
    <mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>  
<mat-accordion >
     
    <mat-expansion-panel *ngFor="let post of posts ; let i = index" >
        <mat-expansion-panel-header>
            <mat-panel-title class="titulo" >
                {{post.titulo}}                         
            </mat-panel-title>
           
        </mat-expansion-panel-header>
        {{post.conteudo}}
        <mat-action-row class="expansionPanel">
            <a  mat-button color="accent" [routerLink]="['/editar', post._id]" routerLinkActive="router-link-active" >Editar</a>
            <button mat-button color="warn" (click)="removerPet(post._id)">Remover</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
</div>